<div id="<%= dom_id website %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= website.title %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Body:</strong>
    <%= website.body %>
  </p>
</div>
